@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Condensed:ital@1&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/buton.css");
@import url("components/banner.css");
@import url("components/cards.css");


body {
  font-family: 'Libre baskerville,serif;
  font-size: 18px;
  background-color:#F2BB7B;
  color: white;
}

h1,h2,h3 {
 font-family: 'Roboto condensed',sans-serif;
 font-weight: bold;
 color:white;
}

a {
  text-decoration: none;
 }










